.ghetrong{
    justify-content: center;
    align-items: center;
    /* Các thuộc tính khác để tùy chỉnh nút */
    width: 20px;
    height: 20px;
    background-color: #FFC400FF;
    color: #fff;
    font-size: 16px;
    border: none;
    margin: 3px 3px 3px 3px;
    border-radius: 5px;
}

.ghedachon{
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    /* Các thuộc tính khác để tùy chỉnh nút */
    width: 20px;
    height: 20px;
    background-color: royalblue;
    color: #fff;
    font-size: 16px;
    border: none;
    margin: 3px 3px 3px 3px;
    border-radius: 5px;
}

.ghedadat{
    justify-content: center;
    align-items: center;
    /* Các thuộc tính khác để tùy chỉnh nút */
    width: 20px;
    height: 20px;
    background-color: gray;
    color: #fff;
    font-size: 16px;
    border: none;
    margin: 3px 3px 3px 3px;
    border-radius: 5px;
}



.yellow-button {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    /* Các thuộc tính khác để tùy chỉnh nút */
    width: 50px;
    height: 50px;
    background-color: #FFC400FF;
    color: #fff;
    font-size: 16px;
    border: none;
    margin: 3px 3px 3px 3px;
    border-radius: 10px;

}

.eco-button {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    /* Các thuộc tính khác để tùy chỉnh nút */
    width: 50px;
    height: 50px;
    background-color: royalblue;
    color: #fff;
    font-size: 16px;
    border: none;
    margin: 3px 3px 3px 3px;
    border-radius: 10px;
}
.gray-button{
    justify-content: center;
    align-items: center;
    /* Các thuộc tính khác để tùy chỉnh nút */
    width: 50px;
    height: 50px;
    background-color: gray;
    color: #fff;
    font-size: 16px;
    border: none;
    margin: 3px 3px 3px 3px;
    border-radius: 10px;
}
.pink-button{
    justify-content: center;
    align-items: center;
    /* Các thuộc tính khác để tùy chỉnh nút */
    width: 50px;
    height: 50px;
    background-color: pink;
    color: #fff;
    font-size: 16px;
    border: none;
    margin: 3px 3px 3px 3px;
    border-radius: 10px;
}
.row{
    margin-bottom: 20px;
}
h6{
    text-align: center;
}
.phandau{
    text-align: center;
    background-color: gray;
    color: white;
}

.yellow-button:hover{
    background-color: royalblue;
}
.list{
    background-color: white;
    color: rgb(10, 141, 145);
}




.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    box-sizing: border-box;
}

.modal_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 25, 25, 0.21);

}

.modal_body {
    width: 600px;
    min-height: 400px;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    z-index: 999;
}


.modal_inner .form-group {
    position: relative;
    margin-bottom: 20px;
}

.modal_inner h2 {
    color: #166987;
}

.modal_inner .form-control {
    background-color: #fff;
    height: 50px;
    padding: 0px 15px;
    padding-top: 24px;
    color: #191a1e;
    border: 2px solid #dfe5e9;
    font-size: 16px;
    font-weight: 700;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.modal_inner .form-control::-webkit-input-placeholder {
    color: #dfe5e9;
}

.modal_inner .form-control:-ms-input-placeholder {
    color: #dfe5e9;
}

.modal_inner .form-control::placeholder {
    color: #dfe5e9;
}

.modal_inner .form-control:focus {
    background: #f9fafb;
}

.modal_inner input[type="date"].form-control:invalid {
    color: #dfe5e9;
}

.modal_inner select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.modal_inner select.form-control+.select-arrow {
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: #dfe5e9;
    font-size: 14px;

}

.modal_inner select.form-control+.select-arrow:after {
    content: '\279C';
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.modal_inner .form-label {
    position: absolute;
    top: 6px;
    left: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    color: #0a8d91;
}

.modal_inner .form-checkbox input {
    position: absolute !important;
    margin-left: -9999px !important;
    visibility: hidden !important;
}

.modal_inner .form-checkbox label {
    position: relative;
    padding-top: 4px;
    padding-left: 30px;
    font-weight: 700;
    color: #166987;
}

.modal_inner .form-checkbox label+label {
    margin-left: 15px;
}

.modal_inner .form-checkbox input+span {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #dfe5e9;
    border-radius: 50%;
}

.modal_inner .form-checkbox input+span:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #4fa3e3;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.modal_inner .form-checkbox input:not(:checked)+span:after {
    opacity: 0;
}

.modal_inner .form-checkbox input:checked+span:after {
    opacity: 1;
    width: 10px;
    height: 10px;
}

.modal_inner .form-btn .home-btn {
    color: #fff;
    background-color: #0091ff;
    font-weight: 400;
    height: 50px;
    font-size: 18px;
    border: none;
    width: 70%;
    border-radius: 4px;
    margin-left: 50px;
}

.modal_inner h1 {
    font-size: 52px;
    text-transform: uppercase;
    color: #4fa3e3;
    font-weight: 400;
}

.modal_inner p {
    font-size: 25px;
    color: #191a1e;
}

.modal_inner .form-btn .back-btn {
    color: #fff;
    background-color: #0091ff;
    font-weight: 400;
    height: 50px;
    font-size: 18px;
    border: none;
    width: 70%;
    border-radius: 4px;
    margin-left: 50px;

}

.modal_inner .title-bonus {
    text-align: center;
    background: #166987;
    color: white;
    padding: 10px 0;
    vertical-align: center;
}

.nav-item{
    width: fit-content;
}
